<p> Test <%= @test.title %></p>

    <p>Questions:</p>

    <table>
      <%= render @questions %>
    </table>
    <p><%= create_new_question_link %></p>

<p><%= link_to t('.back_link'), admin_tests_path %></p>
